nav ul{
    display: inline;
    font-size:20px;
    margin-left:200px;
}
nav ul li{
    margin-right:10px;
  
}

nav ul li:hover{
    background-color: white;
    
}
.card-body p{
    font-size:16px;
}
.card button{
    font-size:15px;
}
.collapse{
    float:right;
}
nav img{
    height:60px;
}
.center{
    font-size:40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.containe  {
    position: relative;
    text-align: center;
    color: black;
    font-size:20px;
}
.centered{
    text-align:center;
}
.cleanbox {
    background-color: rgb(235,248,239);
    color:rgb(56,131,89);
}
.slimbox{
    background-color: rgb(254,255,243);
    color:rgb(145,144,66);
}
.bulkbox{
background-color: rgb(239,249,255);
    color:rgb(19,106,146);
                        }
.glutenbox{
    background-color: rgb(255,232,255);
    color:rgb(186,111,171);
                            
}

.card p{
    height:180px;
}
.card h1{
    height:20px;
}
.card h2{
    height:40px;
}
.cleanbox button{
    background-color:rgb(56,131,89);
    color: rgb(235,248,239);
}
.slimbox button{
    color: rgb(254,255,243);
    background-color:rgb(145,144,66);

}
.bulkbox button{
    color: rgb(239,249,255);
    background-color:rgb(19,106,146);
}
.glutenbox button{
    color: rgb(255,232,255);
    background-color:rgb(186,111,171);
}
.clean:hover{
        color:rgb(56,131,89);

}
.slim:hover{
    color:rgb(145,144,66);
}
.bulk:hover{
    color:rgb(145,144,66);
}
.gluten:hover
{
     color:rgb(186,111,171);
}

p{
    font-size:15px;
    
}
